.header_logo{
  background-color: var(--white);
  display:flex;
  
  justify-content: space-between;
  align-items: center;
  padding: 1em;


}

.menu{
  display:flex;
  justify-content: space-between;
}

.login__botao{
  margin-right: 1rem;
}
.icon_search{
  width: 50px;
  height: 50px;
  background: url("../img/search.svg") center no-repeat;
  border: none;

}
.search{
  display:none
}

@media screen and (min-width: 768px) {
  .header_logo{
   
    display:flex;
    justify-content: space-evenly;
    
  }
  .login__botao{
 
    justify-self: flex-end;
  }
  .header__logo--imagem{
    margin-left: -50px
  }
  .menu{
    flex-direction: row-reverse;

    
  }
  .icon_search{
    display:none;
  }
  .search{
    display:block;
    padding: 8px 16px;
    gap: 8px;
    width: 272px;
    height: 40px;
    background-color: var(--background);
    border:none;
    border-radius:20px;
    color:var(--placeholder);
  }
  .search::placeholder{
    background: url("../img/search.svg") right center no-repeat;
    opacity: 0.5;
  }
  .login__botao{
    margin-left: 5rem;
  }
}
@media screen and (min-width: 1088px){
  .header_logo{
    justify-content: space-evenly;
    
  }
  .search{
    width: 393px;
  }
  .login__botao{
 
    justify-self: flex-end;
  }
}