.login--main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 3rem;
}
.login__formulario{
    display: flex;
    flex-direction: column;

}
.login__input{
    width: 275px;
}
.botao--login{
    width: 109px;
    padding:  1rem;
    background-color: var( --botao-primario-comum-mobile);
    color: var(--white);
    border: none;
    font-size: 14px;
}
.botao__enviar--login{
    width: 151px;
}

@media screen and (min-width: 320px){
    .login{
      margin-left: 0;
    }
    .login__formulario{
       width: 70px; 
    }
    
}
@media screen and (min-width: 768px) {
    .login__input{
        width: 275px;
    }
}
