.rodape{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: var(--white);
}
.desenvolvido{
  font-weight: 500;
  font-size: 16px;
  
  text-align: center;
}
.login__input{
  align-self: center;
  width: 260px;
}